<div>
  <h2>Produits</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency : "EUR" }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button
            (click)="addToCart(product)"
            type="button"
            class="btn btn-outline-secondary btn-sm"
          >
            Ajouter au Panier
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
